<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="andr.lexibook.mypicturebook.one"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="12"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity
                android:name=".ui.act.Welcome"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.act.Mode"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".ui.act.Discovery"
                android:screenOrientation="landscape">
        </activity>
        <!--subtopic-->
        <activity
                android:name=".ui.act.subtopic.Home"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".ui.act.subtopic.Hobbies"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".ui.act.subtopic.Holiday"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".ui.act.subtopic.City"
                android:screenOrientation="landscape">
        </activity>
        <!--subtopic-->

        <!--home-->
        <activity
                android:name=".ui.act.subtopic.home.Bedroom"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".ui.act.subtopic.home.KitchenQ1"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".ui.act.subtopic.home.KitchenQ2"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".ui.act.subtopic.home.KitchenQ3"
                android:screenOrientation="landscape">
        </activity>
        <!--end of home-->

        <activity
                android:name=".ui.act.Help"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".ui.act.Exit"
                android:screenOrientation="landscape">
        </activity>
    </application>
</manifest>
